name: breathing_app
description: "NewU Breathing Exercise App"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_bloc: ^9.1.0
  equatable: ^2.0.7
  flutter_svg: ^2.0.17
  dotlottie_loader: ^0.0.5
  lottie: ^3.3.1
  audioplayers: ^6.4.0
  go_router: ^14.8.1
  get_it: ^8.0.3
  google_fonts: ^6.2.1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/svg/
    - assets/lottie/
    - assets/audio/
